<div>
  <%= link_to "Return to Dashboard", :dashboard %>
</div>
<% @photos.each do |photo| %>
  <%= image_tag photo.url %> 
<% end %>
<h2><%= @hidden_answer %></h2>
<%= form_for [@round, @guess] do |form| %>
  <%= text_field_tag :answer, value = nil, placeholder: "what face are they making?" %>
  <%= form.submit "Enter Guess" %>
<% end %>
<h2>Friends the game was sent to</h2>
<ul>
  <% @guessers.each do |guesser| %>
    <li><%= link_to guesser.name, guesser %></li>
  <% end %>
</ul>
