<script>
  useLetterbank();
</script>

<% @photos.each do |photo| %>
  <%= image_tag photo.url %> 
<% end %>
<div class= hidden-answer>
  <% @prompt.length.times do |i|%>
    <span id="space-<%= i %>"> _ </span>
  <% end %>
  <span class="reset"><%= link_to "Reset", @round %></span>
</div>
<h3>
<% @letterbank.each do |letter| %>
  <span class="letterbank"><%= letter %></span>
<% end %>
</h3>
<div class="user-answer">
  <%= form_for [@round, @guess] do |form| %>
    <%= hidden_field_tag :answer %>
    <%= form.submit "Enter Guess" %>
  <% end %>
</div>
