<div class="header">
  <div class="left-third">
    <%= link_to "Dashboard", :dashboard %>
  </div>
  <div class="middle">
  <h1><%= @user.name %></h1>
  </div>
  <div class="right-third">
    <%= link_to "Friends", :users %>
  </div>
</div>
<div class="statistics-dashboard">
  <div>
    Guesses Made: <%= @user.total_games_received %>
  </div>
  <div>
    Correct Guesses: <%= @user.total_received_games_won %>
  </div>
  <div>
    Games Sent: <%= @user.total_games_sent %>
  </div>
  <div>
    Sent game Wins: <%= @user.total_wins_on_games_sent %>
  </div>
</div>
