  <div class="header">
    <div class="left-third">
      <%= button_to "New Round", [@card, @round] %>
    </div>
    <div class="middle">
      <h1> Face-Charades </h1>
    </div>
    <div class="right-third">
      <%= link_to "Friends", :users %>
    </div>
  </div>
  <div class="current-rounds-dashboard">
    <% if @pending_guesses.empty? %>
      <div>
        sorry...there are no new games to play
      </div>
    <% end %>
    <ul>
      <% @pending_guesses.each do |guess| %>
        <li><%= link_to guess.round.user.name, guess.round %>
        <span> ...<%= time_ago_in_words guess.created_at %> ago</span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class = "leaderboard">
    <div class="best-guesser-leaderboard">
      <h5> best guessers </h5>
      <ul>
        <% @best_guessers.each do |leader| %>
          <li>
            <%= link_to leader.name, leader %> ... <%= leader.total_received_games_won %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="best-sender-leaderboard">
      <h5> best senders </h5>
      <ul>
        <% @best_senders.each do |leader| %>
          <li>
            <%= link_to leader.name, leader %> ... <%= leader.total_wins_on_games_sent %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="recent-guesses">
      <h5> Recent Guesses </h5>
        <% @last_guesses_on_games.each do |guess| %>
          <div><%= link_to guess.find_user, guess %> ... <%=time_ago_in_words guess.updated_at %> ago ... <%= guess.correct_status %></div>
        <% end %>
    </div>
  </div>
