  <div class="header">
    <div class="left-third">
      <%= button_to "New Round", [@card, @round] %>
    </div>
    <div class="middle">
      <h1> Face-Charades </h1>
    </div>
    <div class="right-third">
      <%= link_to "Friends", :users %>
    </div>
  </div>
  <div class="current-rounds-dashboard">
    <ul>
      <% @pending_guesses.each do |guess| %>
        <li><%= link_to guess.round.user.name, guess.round %>
        <span> ...<%= time_ago_in_words guess.created_at %> ago</span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="best-guesser-leaderboard">
    <div> best guessers </div>
    <ul>
      <% @leaders.each do |leader| %>
        <li>
          <%= leader.name %> ... <%= leader.total_received_games_won %>
        </li>
      <% end %>
    </ul>

  </div>
